.App {
    text-align: center;
  }
  
  .App-logo-subhead{
    color: #d2eff7;
    font-size: 20px;
  }
  
  .App-logo {
    /* height: 40vmin; */
    height: 160px;
    position: absolute;
    pointer-events: none;
  }
  .App-logo-inner {
    /* height: 40vmin; */
    pointer-events: none;
    position: relative;
    /* left: 5px;
    top:5px; */
    height: 140px;
    margin-top: 10px;
    margin-left: 10px;
    /* background-color: azure; */
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    /* background-color: #0c8379; */
    background-image: url('/blur-bg.jpg');
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  